/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';


/*NAVIGATION*/
body{
	background-color:rgba(205,163,79,0.4);
}
.well{
	background-color: #fffff0; 

}
.navbar{
	background-color:  #fffff0;
	border-style: solid;
	border-width: 2px;
	border-color: #e3e3e3;
	border-top-color: transparent;;
}

.nav-item{
	margin-left: 20px;
/*	margin-top: 10px;*/
	float:left;

}

.nav-link , .navbar-brand, h5{
	color:#636b46;
}

/*AVATAR*/
.nav-pic{
	height:60px;
	width: 60px;
	border-style: solid;
	border-radius: 35%;
	padding: 5px;
}

.avatar{
	height:50px;
	width: 50px;
	border-style: solid;
	border-radius: 35%;
	margin-top: -10px;

}


.line{
	border-color: rgba(0,50.2,50.2,0.15);
}

.center-block{
	max-width: 100px;
}
.comment_box{
	width:100%;
	display:block;
}

.comment_btn{
	margin-top: 10px;
}
/*#comment_comment_entry{
	height: 200px;
}*/


h2, h3, h4, h5, h6{

color: #373f27;

}

h1, .subheader{

color:#373f27;

}
h1{
	text-align: center;
}


 p{
	color:#565656;
}

hr{

}

li{
		list-style: none;

}

.center_text{
	text-align: center;
}

#post_blog_entry{
	width:100%;
	min-height: 300px;
}

#post_title{
		width:100%;
}
#post_author{
		width:100%;
}

.title{
	font-size: 22px;
	font-weight: 700;

}
.comment-color{
	background-color: white;
}

/*BUTTONS*/
.btn-warning{
	background-color:#CDA34F;
	border-color: #CDA34F;
	color: #E9E7DA;
}

.btn-info{
	background-color:#CDA34F;
	border-color: #CDA34F;
	color: #E9E7DA;
}

.btn-primary{
	background-color:#CDA34F;
	border-color: #CDA34F;
	color: #E9E7DA;
}
.btn{
	opacity: 0.85;
}
