/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';


/*NAVIGATION*/
body{
	background-image: url("xv.png");

}
.wrapper1{
		background: rgba(180,219,192,0.2);

}

.container{
	background-color: transparent;

}
.well ,.navbar{
	background-image: url("swirl.png");

}
.navbar{

	border-style: solid;
	border-width: 2px;
	border-color: #e3e3e3;
	border-top-color: transparent;;
}

.nav-item{
	margin-left: 20px;
/*	margin-top: 10px;*/
	float:left;

}


/*AVATAR*/
.nav-pic{
	height:60px;
	width: 60px;
	border-style: solid;
	border-radius: 35%;
	padding: 5px;
}

.avatar{
	height:50px;
	width: 50px;
	border-style: solid;
	border-radius: 35%;
	margin-top: -10px;

}


/*#comment_comment_entry{
	height: 200px;
}*/


h2, h3, h4, h5, h6{

color: #CDA34F;

}
 .navbar-brand,.title, h1, h5{
	color:#b56357;
}

.nav-link ,.subheader, {
	color:#A7B3a5;


}

.title{
	font-size: 22px;
	font-weight: 700;


}

h1{
	text-align: center;
}


a, p{
	color:#565656;
}

li{
		list-style: none;

}

.line{
	border-color: #b4dbc0;
}

.center-block{
	max-width: 100px;
}
.comment_box{
	width:100%;
	display:block;
}

.comment_btn{
	margin-top: 10px;
}
.center_text{
	text-align: center;
}

#post_blog_entry{
	width:100%;
	min-height: 300px;
}

#post_title{
		width:100%;
}
#post_author{
		width:100%;
}


.comment-color{
	background-color: white;
}

/*BUTTONS*/
.btn-warning, .btn-info, .btn-primary{
	background-color:#A7B3a5;
	border-color: #A7B3a5;
	color: white;
}


.btn-primary:hover, .btn-warning:hover, .btn-info:hover{
	background-color:#b56357;
	border-color: #b56357;
}

.btn-primary:wisited, .btn-warning:wisited, .btn-info:wisited{
	background-color:#b4dbc0;
	border-color: #b4dbc0;
}


a:hover{
	text-decoration: none;
	color:#b56357 ;
}