.navbar{
	background-color: rgba(0,50.2,50.2,0.15);
}

.nav-item{
	margin-left: 20px;
	margin-top: 12.5%;

}

.nav-link , .navbar-brand{
	color:rgb(244, 110, 66);
}

h1, h2, h3, h4, h5, h6, th, a, .subheader{
	text-decoration: none;
	color: rgb(244, 110, 66);
}
h1{
	text-align: center;
}

.link{
	text-align: right;
}

td, p{
	color:#545454;
}

hr{

}

li{
		list-style: none;

}

